body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
.text
{
  font-family: 'Montserrat',cursive;
  font-size: 3.5rem;
  line-height: 1.5;
font-weight:bolder;
}
.container-fluid
{
  padding:  3% 15% 5%;
}
/* navbar */
.navbar
{
  padding: 0 0 4.5rem;
}
.navbar-brand
{
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item
{
  padding: 0rem 1rem;
  font-size: 1.2rem;
  font-family:Montserrat ;
}
.Download-button
{
  margin: 5% 3% 5% 0;
}
.images{
width: 60%;
transform: rotate(25deg);
position: absolute;
right: 30%;

}
#features
{
  text-align: center;
  padding: 7%  5% ;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
h3
{
  font-family:montserrat;
  font-size: 1.5rem;
  font-weight: bold;

  }

p
{
  color: #8f8f8f;
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}
#testimonials
{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  font
}
h2
{
font-family: "Montserrat";
font-size: 3rem;
font-weight: 900;
}
.dog
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 2rem;
}
.press1
{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item
{
  padding: 7% 15% ;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column
{
  padding: 3% 2%;

}
@media(max-width:1048px) {
.images
{
  position:static;
  transform: rotate(0);
}
#title{
  text-align: center;
}
}
#cta
{
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 7%;
}
.final{
  font-family:Montserrat;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
text-align: center;
color: #fff;
}
#footer{
  text-align: center;
  padding: 7% 10%;
}
.footer-img
{
  margin: 1% ;
}
.testimonial-text
{
  line-height: 1.5;
}
